<html>
    <head>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body id="mainpage">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <h1>test: looping through database</h1>
            <h2>{food name}: {number of food item in inventory}</h2>

            {% for item in items %}
                <p>{{ item.content }}: {{ item.inventory }}</p>
            {% endfor %}

        <br>
        <br>
        <hr>
        <br>
        <br>

        <h1>test: submitting a new food item to the database</h1>
            <h2></h2>

<!--
            <form method="POST">
                <textarea name="food_label" placeholder="food name"></textarea>
                <textarea name="food_num", placeholder="number of food items"></textarea>
                <input type="submit" value="Add to db">
            </form>
-->
        <br>
        <br>
        <hr>
        <br>
        <br>

        <h1>test: copy/paste functionality</h1>

            <!-- The text field -->
            <input type="text" value="Hello World" id="myInput">

            <!-- The button used to copy the text -->
            <button onclick="copy()">Copy text</button>

        <br>
        <br>
        <hr>
        <br>
        <br>

        <h1>test: convert an html table into a javascript array</h1>

        	<table id="details">
        		<tbody>
        		    {% for item in items %}
        		        <tr><td>{{ item.content }}</td><td>{{ item.inventory }}</td></tr>
        		    {% endfor %}
        		</tbody>
        	</table>

        <br>
        <br>
        <hr>
        <br>
        <br>

        <h1>test: copy order list in groupme format</h1>

        <br>
        <br>
        <hr>
        <br>
        <br>

        <h1>test: subtract food items for order</h1>

            <article id="itemlist"></article

            <p id="myFunction"></p>

            <p id="sdfsdf"></p>

		    <form method="POST">
		        {% for item in items %}
		            <textarea id={{ item.content }} name={{ item.content }}>{{ item.content }}</textarea>
                {% endfor %}
                <input id="submit" type="submit" value="Submit">
            </form>

        <script>

            function copy() {
              /* Get the text field */
              var copyText = document.getElementById("myInput");

              /* Select the text field */
              copyText.select();
              copyText.setSelectionRange(0, 99999); /* For mobile devices */

              /* Copy the text inside the text field */
              document.execCommand("copy");

              /* Alert the copied text */
              /* alert("Copied the text: " + copyText.value); */
            }

                 		//take in array items
     		var pantryItems = [];
            $("table#details tr").each(function() {
                var rowDataArray = [];
                var actualData = $(this).find('td');
                if (actualData.length > 0) {
                    actualData.each(function() {
                    rowDataArray.push($(this).text());
                    });
                    pantryItems.push(rowDataArray);
                }
            });
            //console.log(pantryItems);
       	   	//above array will be changed

       	   	var count = 0;


     		document.getElementById("mainpage").addEventListener("click", adjustTotal);
     		function adjustTotal() {
     			var total = 0;
     			count++;

     			//total = ((document.getElementById("dropdownnumber").value) * 15);

     			for (var i = 0; i < pantryItems.length; i++) {
     			    if (document.getElementById(pantryItems[i]).value === "-") {
     			        continue;
     			    }
     				total -= document.getElementById(pantryItems[i]).value;
     			}

     		    for (var i = 0; i < pantryItems.length; i++) {
     			    if (document.getElementById(pantryItems[i]).value != 0) {   // TODO: and if it isn't equal to '-'
     			        document.getElementById(pantryItems[i][0]).value = document.getElementById(pantryItems[i]).value;
                        //document.getElementById("sdfsdf").value = "Hello World";
                        console.log(pantryItems[i][0]);
     			    }
     			}
     		}

            document.getElementById("submit").addEventListener("click", submit);
            function submit() {
     		    for (var i = 0; i < pantryItems.length; i++) {
     			    if (document.getElementById(pantryItems[i]).value != 0) {   // TODO: and if it isn't equal to '-'
     			        document.getElementById(pantryItems[i][0]).value = document.getElementById(pantryItems[i]).value;
                        document.getElementById("sdfsdf").value = "Hello World";
                        console.log(pantryItems[i][0]);
     			    }
     			}

     		}

       		pantryItems.forEach(myFunction);
       		function myFunction(item, index) {
       			//document.getElementById("itemlist").innerHTML += item;
       			document.getElementById("itemlist").innerHTML += item[0] + "<br>";
       			var myParent = document.getElementById("itemlist");

       			//Create array of options to be added
       			var array = [];
       			if (item[1] == 0) {
       			    array.push("-");
       			}
       			creating_options: // Defining nested loop to break out of
       			for (var i = 0; i <= item[1]; i++) {
       			    if (i > 15) {
       			        break creating_options;
       			    }
       			    array.push(i);
       			}

       			//Create and append select list
       			var selectList = document.createElement("select");
       			selectList.id = item;
       			myParent.appendChild(selectList);

       			//Create and append the options

       			for (var i = 0; i < array.length; i++) {
       				var option = document.createElement("option");
       				option.value = array[i];
       				option.text = array[i];
       				selectList.appendChild(option);
       			}
       			document.getElementById("itemlist").innerHTML += "<br>";
       		}
        </script>
    </body>
</html>
