<!DOCTYPE html>
<html lang="en">
<head>
<title>Pantry Donation</title>
<table hidden id="details">
	<tbody>
	    {% for item in items %}
	        <tr><td>{{ item.content }}</td><td>{{ item.inventory }}</td></tr>
	    {% endfor %}
	</tbody>
</table>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header {
  background-color: #373A36;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #CEB888;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

/* adjusts style for main section of food entry system */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #9D968D;
  padding: 10px;
  padding-bottom: 100px;
}


footer {
  background-color: #373A36;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body id="mainpage">

<header>
  <h2>Ace Food Pantry Management</h2>
</header>

<section>
  	<nav>
    	<ul>

     	<br>
      	<li>Total</li>
      	<li id="total">0</li>

        <br>
<!--
        <form method="POST">
            <input type="text" name="food_label" placeholder="Enter a new Item to Deposit">
            <select name="food_num" id="newDonationQuantity">
            <option value = "1" selected>1</option>
              <option value = "2" selected>2</option>
              <option value = "3" selected>3</option>
              <option value = "4" selected>4</option>
              <option value = "5" selected>5</option>
              <option value = "6" selected>6</option>
              <option value = "7" selected>7</option>
              <option value = "8" selected>8</option>
              <option value = "9" selected>9</option>
              <option value = "10" selected>10</option>
              <option value = "11" selected>11</option>
              <option value = "12" selected>12</option>
              <option value = "13" selected>13</option>
              <option value = "14" selected>14</option>
              <option value = "15" selected>15</option>
              <option value = "0" selected>0</option>
            </select>
            <input type="submit" value="Add">
        </form>
-->
    	</ul>
  	</nav>

   <article id="itemlist">
   	<h3>Enter Values for Item Deposit</h3>

   	<script>
 		//take in array items
 		var pantryItems = [];
        $("table#details tr").each(function() {
            var rowDataArray = [];
            var actualData = $(this).find('td');
            if (actualData.length > 0) {
                actualData.each(function() {
                rowDataArray.push($(this).text());
                });
                pantryItems.push(rowDataArray);
            }
        });
        console.log(pantryItems);
   	   	//above array will be changed

   	   	var count = 0;


 		document.getElementById("mainpage").addEventListener("click", adjustTotal);
 		function adjustTotal() {
 			var total = 0;
 			count++;

 			total = ((document.getElementById("dropdownnumber").value) * 15);

 			for (var i = 0; i < pantryItems.length; i++) {
 			    if (document.getElementById(pantryItems[i]).value === "-") {
 			        continue;
 			    }
 				total -= document.getElementById(pantryItems[i]).value;
 			}

 		    for (var i = 0; i < pantryItems.length; i++) {
 			    if (document.getElementById(pantryItems[i]).value != 0) {   // TODO: and if it isn't equal to '-'
 			        document.getElementById(pantryItems[i][0]).value = document.getElementById(pantryItems[i]).value;
                    //document.getElementById("sdfsdf").value = "Hello World";
                    console.log(pantryItems[i][0]);
 			    }
 			}

 			if (count % 2 == 0 && total < 0) {
				alert("Error: DO NOT SUBMIT, you have entered too many items to withdraw");
				document.getElementById("total").innerHTML = 0;
 			} else {
 				if (total < 0) {
 					document.getElementById("total").innerHTML = 0;
 				} else {
 					document.getElementById("total").innerHTML = total;
 				}
 			}
 		}

 	    document.getElementById("mainpage").addEventListener("click", submit);
        function submit() {
 		    for (var i = 0; i < pantryItems.length; i++) {
 			    if (document.getElementById(pantryItems[i]).value != 0) {   // TODO: and if it isn't equal to '-'
 			        document.getElementById(pantryItems[i][0]).value = document.getElementById(pantryItems[i]).value;
                    console.log(pantryItems[i][0]);
 			    }
 			}
 		}

   		pantryItems.forEach(myFunction);
   		function myFunction(item, index) {
   			//document.getElementById("itemlist").innerHTML += item;
   			document.getElementById("itemlist").innerHTML += item[0] + "<br>";
   			var myParent = document.getElementById("itemlist");

   			//Create array of options to be added
   			var array = [];

   			creating_options: // Defining nested loop to break out of
   			for (var i = 0; i <= 15; i++) {
   			    if (i > 15) {
   			        break creating_options;
   			    }
   			    array.push(i);
   			}

   			//Create and append select list
   			var selectList = document.createElement("select");
   			selectList.id = item;
   			myParent.appendChild(selectList);

   			//Create and append the options

   			for (var i = 0; i < array.length; i++) {
   				var option = document.createElement("option");
   				option.value = array[i];
   				option.text = array[i];
   				selectList.appendChild(option);
   			}
   			document.getElementById("itemlist").innerHTML += "<br>";
   		}
   		function copy() {
			    var input = document.createElement('textarea');

              	var copyText = "";

              	for (var i = 0; i < pantryItems.length; i++) {
              	    if(!(String(document.getElementById(pantryItems[i]).value) === "0")) {
    					copyText += String(pantryItems[i]).substring(0, String(pantryItems[i]).indexOf(","))
    					+ ": " + document.getElementById(pantryItems[i]).value + ", ";
              	    }
				}

				if(copyText.substring(copyText.length - 2) === ", ") {
				    copyText = copyText.substring(0, copyText.length - 2);
				}

			    input.innerHTML = copyText;
			    document.body.appendChild(input);
			    input.select();
			    var result = document.execCommand('copy');
			    document.body.removeChild(input);
			    return result;
			}
   	</script>

   	<p id="myFunction"></p>

   </article>

</section>


<footer>
	<a href="http://acecampusfoodpantry.pythonanywhere.com/" target="_blank" style="color: white">Click to Record a Withdraw</a>

  <br>
  <br>

	    <form method="POST">
	        {% for item in items %}
	            <textarea hidden id={{ item.content }} name={{ item.content }}>{{ item.content }}</textarea>
            {% endfor %}
            <input id="submit" type="submit" value="Submit" onclick="copy()">
        </form>
</footer>

</body>
</html>

